[2015-03-24 13:55] josevalim opened #1 "Use an md5 agent to avoid changes when a file did not change (but simply saved to disk)"
/cc @chrismccord

[2015-03-24 13:55] josevalim commented on #1
Btw, is there any easy way to test the channel? I think we are lacking tools on our side, right?

[2015-03-24 15:10] chrismccord commented on #1
We need better testing tools, but you can stand a test up like this right now:

[code]

[2015-04-19 18:14] josevalim opened #5 "Do not refresh page with stylesheets, simply reload the css files"
We could the same as here: https://github.com/brunch/auto-reload-brunch/blob/master/vendor/auto-reload.js#L21-L33

@parkerl, if you would like to implement this feature, please go ahead! :)

[2015-04-19 18:52] parkerl commented on #5
On it!

[2015-04-19 21:07] parkerl commented on #5
Should the config of what is a css pattern be broken out into a separate key from the rest of the assets? Or should I just make the assumption that anything returned matching `css` is all we care about?

[2015-04-19 21:09] parkerl commented on #5
Also just confirming that there are no javascript tests I should be writing against?

[2015-04-19 21:36] chrismccord commented on #5
This is what I have in mind. We have a couple options. We can pass down the changed file name/path and have the code on the client determine what to do. Or we can just pass down the change event with a file type and the client can react accordingly.

Correct

[2015-04-19 23:55] parkerl commented on #5
Thanks @chrismccord

I guess IMHO the client should be as simple as possible with no spec coverage. I would lean on the server to figure out what to do and then tell the client.  However, I have no problem implementing it either way.

P.S. I just finished listening to you talk about metaprogramming on "Mostly Erlang" and I'm all exited. I think I will do this in a LiveReloading DSL that I will imp

[2015-04-19 23:58] chrismccord commented on #5
Heheh thanks! +1 on keeping the client as dumb as possible. We can just pass the file the extname of the changed file. Sound good?

[2015-04-20 00:08] parkerl commented on #5
Perfect. I will get this moving then.

[2015-04-24 05:37] kojoru opened #7 "Phoenix is locked in a loop when a file is reloaded on Windows"
Steps to reproduce:
1. Install Phoenix as in tutorial on Windows
2. Launch `mix phoenix.server`
2. Open http://localhost:4000 in a web browser
3. Change a template

Result: a web page is reloaded indefinitely.
Expected result: a web page is reloaded once

I don't always see the behavior but I see it most of the time. The reason seems to be that template editing triggers the rebuild of files like `

[2015-04-24 05:49] josevalim commented on #7
Two questions: are you on windows? And which elixir version?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-04-24 05:59] kojoru commented on #7
Yes, on Windows, as mentioned in the title. Edited the post to make it more clear.

Elixir is on version 1.0.4, phoenix is 0.11

[2015-04-24 06:15] josevalim commented on #7
Thank you! I completely missed it on the title. :) I know exactly why this
happens. On windows we can't symlink, so we copy files triggering the event
multiple times. Your work around is great, we should fix live reload though
to just ignore everything from _build.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-04-24 08:41] kojoru commented on #7
I could probably do the PR to ignore `_build` myself, is it ok?

However I'm not sure if it is better done by hardcoding `_build` or by defining a generic "and not matches some oter regexp" algorithm, what do you think?

Besides there are currently no tests for `channel.ex`, is there any specific reason for it?

[2015-04-24 08:44] josevalim commented on #7
A PR would be great. We don't have tests because Phoenix doesn't have
channel testing conveniences yet. We could support an :ignore regex
option that by default is ~r"_build/".

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-04-25 22:49] #5 closed

[2015-04-26 09:13] josevalim commented on #7
Ping.

[2015-04-26 09:27] chrismccord commented on #7
I can take care of this today

[2015-04-26 10:16] #7 closed

[2015-04-26 10:17] chrismccord commented on #7
@kojoru This should be fixed with the default `:patterns`. Please test on master and report back and I'll push a new release to hex:

[code]

[2015-04-26 10:29] lstor commented on #7
This resolves phoenixframework/phoenix/issues/805, at least =)

[2015-05-02 21:05] josevalim opened #9 "Do not run live reload if it was not configured"
So we avoid accidentally exposing it in prod.

[2015-05-02 21:32] chrismccord commented on #9
Since our instructions include adding it to a `code_reloading?` block, and we only inject if there are any configured `live_reload: [patters: _]`, what do we need in addition?

[2015-05-02 21:37] danielberkompas opened #10 "See live routes at /phoenix/routes"
This page would display the same output as `mix phoenix.routes`, but would automatically refresh whenever you change your router. It could look similar to the page Rails displays when it returns a 404 in development mode:

![action_controller__exception_caught](https://cloud.githubusercontent.com/assets/1186992/7442875/a1e76732-f0d8-11e4-8e40-1a740709b227.png)

New routes could be highlighted when

[2015-05-03 08:38] josevalim commented on #9
Ah, you are right. We don't need this then.

[2015-05-03 08:38] #9 closed

[2015-05-03 08:54] josevalim commented on #10
Actually, I also like the idea of showing this when a route is not found. However, if we are adding that, it needs to be added to Phoenix. :P And I am not sure how we could integrate live reload. We can do it by parts though.

[2015-05-11 07:28] ruanwz opened #11 "Can't find chan method"
The below code give an error: socket.chan is not a function

https://github.com/phoenixframework/phoenix_live_reload/blob/master/priv/static/phoenix_live_reload.js#L33

Should I upgrade phoenix to the latest one? I am currently using 0.12.0

[2015-05-11 07:29] josevalim commented on #11
@ruanwz so you are on this weird spot between Phoenix releases. We are releasing a new Phoenix version and have already released a Phoenix live reload plugin. You can either use Phoenix master or downgrade phoenix_live_reload one version. Sorry for the issues. :)

[2015-05-11 07:29] #11 closed

[2015-06-27 17:09] janjiss opened #15 "Displaying an error message when there is no body tag?"
Hey there, I had an interesting experience trying to figure out why live reload did not work. As it turns out, I accidently removed opening `<body>` tag. It took some time to figure out what was wrong. Maybe we should display an error message if live reload is enabled, but the `<body>` tag is missing?

[2015-06-27 18:32] janjiss commented on #15
Closing this issue, since my colleague created PR #16 :)

[2015-06-27 18:32] #15 closed

[2015-07-03 20:19] jontonsoup opened #17 "Missing live reload functionality on files inside lib."
Is there a way to specify what folders are watched? It seems I'm not getting reloads when I edit my:

`lib/my_app/i18n/en.ex` file inside of Phoenix.

[2015-07-03 21:05] josevalim commented on #17
Nothing in lib is reloaded.
Move it it to web if you want to reload it.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-07-03 21:06] jontonsoup commented on #17
@josevalim thanks!

[2015-07-04 20:23] jontonsoup commented on #17
@josevalim moving `lib/my_app/i81n/en.ex` to `web/i81n/en/ex` makes it so that my module isn't found anymore. Is there any literature on the load path for phoenix you can point me to?

[2015-07-04 20:27] chrismccord commented on #17
@jontonsoup You need to update your `locale` file path references to take the new location into consideration. i.e. `locale "en", Path.join([__DIR__, "../config/locales/en.exs"])` or whererver you have your locales located.

[2015-07-04 20:27] #17 closed

[2015-07-16 17:52] chrismccord opened #18 "Update for phoenix socket changes"

[2015-07-18 15:47] #18 closed

[2015-07-28 16:08] josevalim commented on #1
Pushed to master. Also rewrote the tests to use our new awesome channel test toolkit.

[2015-07-28 16:08] #1 closed

[2015-09-14 04:22] xbinxu opened #22 "Set check_origin false for live reload"
Live reload is designed for dev purpose so we should allow any kind of origin url.

[2015-09-14 04:35] chrismccord commented on #22
You can control this with your endpoint settings. If you want to skip checking origin in dev, you can `check_origin: false` in your endpoint config. We could override in the Phoenix.LiveReload.Socket to set it to false, but I'd rather rely on the end users config.

[2015-09-14 04:35] #22 closed

[2015-09-17 14:37] manveru opened #23 "Reloading CSS causes exponential memory usage"
There seems to be a bug in the live reloading, here's my `<head>` after saving a CSS file 5 times (without making any changes).

![2015-09-17 16_35_54](https://cloud.githubusercontent.com/assets/3507/9936052/558d81ca-5d5a-11e5-9124-dd95084edeeb.png)

[2015-09-17 14:40] josevalim commented on #23
Thank you! Is it because we need to remove the old stylesheet around here? https://github.com/phoenixframework/phoenix_live_reload/blob/master/priv/static/phoenix_live_reload.js#L1

[2015-09-17 14:41] manveru commented on #23
well, `link.remove()` is supposed to do that. but it seems like this function is appending two new `<link>` tags for every previous tag.

[2015-09-17 14:41] chrismccord commented on #23
I"m trying to recreate without much luck atm

[2015-09-17 14:42] chrismccord commented on #23
can you include the entire `head` of your layout here?

[2015-09-17 14:43] manveru commented on #23
I suspect it's a combination of a big CSS files and the server being remote, so it could be a race condition?

[2015-09-17 14:43] manveru commented on #23
I can give you access to the server if you want, will PM you via slack.

[2015-09-17 16:19] Gazler commented on #23
We fixed this over IRC - but for future readers, if you are using vim then the following will fix it:

    set backupcopy=yes

To fix it permanently put that in your vimrc file.

[2015-09-17 17:21] chrismccord commented on #23
@manveru fixed on master. Please set vim back to whatever write mode it was doing and verify the fix, then I'll push a new release. Thanks!

[2015-09-17 17:21] #23 closed

[2015-09-17 19:49] manveru commented on #23
Sorry, had to do something else first, I couldn't reproduce the bug anymore, so consider it fixed. Thanks for the help!

[2015-09-18 15:08] chrismccord commented on #23
1.0.1 has been released, `mix deps.update phoenix_live_reload` and you are all set!

[2015-11-18 05:13] sebbean commented on #17
This seems to work for me FYI:
[code]

[2015-11-25 07:02] davidbegin opened #26 "Dependency mismatch with Phoenix"
With this commit in Phoenix: https://github.com/phoenixframework/phoenix/commit/3f6df5df741e58b098b92a631b050bac069b2af8

Generating a new application from master, causes the following error:

[code]

My best guess of what is happening:

Generating a new Phoenix application points to Phoenix master,
and Phoenix Live Reload depends on a Phoenix version between "~> 0.16 or ~> 1.0"

I made a PR https

[2015-11-25 08:20] ericmj commented on #26
I think you should expect some dependency inconsistencies if you use a pre-release version. It's not viable to update all dependencies between phoenix releases.

@chrismccord I don't know the reason for https://github.com/phoenixframework/phoenix/commit/3f6df5df741e58b098b92a631b050bac069b2af8 but it seems like it would better to just leave the version as-is between stable releases?

[2015-11-25 08:51] josevalim commented on #26
@ericmj If you are building from master, we need to use the git dependency as the generated files may rely on features that exist on master only.

@chrismccord the fix is to add `override: true` to the git dependency. I will do that right now.

[2015-11-25 08:51] #26 closed

[2015-12-29 07:02] ryanswapp opened #29 "Live reload interfering with Mix's ability to pick up file changes"
I was working on a project tonight and encountered what appears to be a bug in which the live reload feature is preventing mix from picking up file changes. I'm able to reproduce it by doing the following:

1) Add lib/helpers.ex and define a module with some functions.
2) Use the functions somewhere in the app (I was using them in a controller)
3) Start the phoenix server (everything should be wor

[2015-12-29 07:04] ryanswapp commented on #29
Actually, In talking with a friend I think I should have submitted this in the main Phoenix repo so I'll move it there.

[2015-12-29 07:04] #29 closed

[2016-02-15 16:56] rauluranga opened #31 "Vagrant"
Hi!
I've created a phoenix project mounted on vagrant, everything works fine except the live reload.
Is there any place where i can find info about this issue? (live reload works only if i change files inside of the VM).
Thanks!

[2016-02-15 16:59] josevalim commented on #31
Yup, that's pretty much a limitation. LiveReload simply won't work in such cases.

[2016-02-15 17:02] chrismccord commented on #31
There are known issues with using a VM and shared volumes with mtime/ctime checking, so this isn't something we can fix in this case

[2016-02-15 17:02] #31 closed

[2016-05-04 05:53] seantanly opened #32 "Earmark dependency"
It seems that with v1.0.4, earmark is introduced as a hard requirement.

Just checking, is it a hard requirement, or it's supposed to be required only under :docs, similar to `ex_doc` ?

[2016-05-04 07:18] josevalim commented on #32
Great catch, fixed and released 1.0.5!

[2016-05-04 07:18] #32 closed

[2016-05-04 07:27] seantanly commented on #32
Thanks for the fast response! :D

[2016-06-21 00:29] basichash opened #33 "Hot Code Reload fails on Arch Linux when directory in path contains a space"
OS: Arch Linux
Kernel: x86_64 Linux 4.6.2-1-ARCH
Phoenix: v1.1.6
Mix: 1.2.6

Initial app directory contained a space, also inotifytools were not installed. Hot Code Reload was not being triggered when changes were made to /web.
After installing inotifytools, and creating a new app in the same spaced directory, reload was still not being triggered.
After creating a new parent directory and creating

[2016-06-21 00:44] chrismccord commented on #33
can you double check by creating a new project with a space in the dir name?

[2016-06-29 12:24] basichash commented on #33
Double checked it, when the parent directory contained a space, e.g. 'Parent Dir', hot reload wasn't functioning, but replacing the space with a dash ('Parent-Dir') worked just fine.

[2016-06-30 20:17] chrismccord commented on #33
Unfortunately I am unable to replicate this on OS X. It may be an issue specific to inotifytools on certain platforms, but I haven't been able to find any leads on possible solutions. If you find a workaround or more information, please re-open. Thanks!

[2016-06-30 20:17] #33 closed

[2016-07-06 20:06] tesp0 opened #34 "Endpoint Config :path Change Breaks Live Reload Path Match"
After altering the :path in my phoenix project's config.exs file to:

[code]

and my endpoint.ex file to:

[code]

The `Phoenix.LiveReloader` plug's call function will never match on the path info.

i.e. This function definition won't match as long as the path has been prepended:
[code]

I've modified this locally and it looks to be working well. I'll send a PR for your review.

Cheers,
Tony

[2016-07-06 21:48] tesp0 commented on #34
On second thought, I think this isn't a good idea. I can get it working very well for me but this wouldn't be a good modification for the broader community. It can be efficient for one level deep such as prepending /newsite/ to the path but to accommodate anything longer means trying to match the last 3 elements of :path_info with ["phoenix", "live_reload", "frame"] on every request. Then ensure t

[2016-07-06 22:34] josevalim commented on #34
@tesp0 thank you for the report. There is a slightly disconnect here. When you use the `:path` option, it is typically because you are running Phoenix inside a server (like Apache or Nginx) which makes itself think it is at root while it is actually inside "/newsite". So you need to change the URL generation so it knows where it is pointing to.

According to your changes, it seems like you are usi

[2016-07-06 23:37] tesp0 commented on #34
Thanks for getting back so quick @josevalim :)

Indeed I am trying to run a phoenix site behind a reverse proxy. This is what I'm doing right now after tinkering with it all day:

[code]

Oh wait, yes you're completely right José !!!

I should've rewrote the urls with `rewrite ^/newsite/(.*)$ /$1 break;` and now I understand the purpose of the path option, it makes perfect sense now! I really wish

[2016-07-06 23:37] #34 closed

[2016-09-05 15:43] oskarkook opened #37 "Live reload on Gettext's *.po files not working when `build_path` is set to `../../_build` (as it would be in an umbrella project)"
Live reload/hot code reload on Gettext's *.po files does not work when `build_path` in `mix.exs` is set to `../../_build` (as it would be in an umbrella project). It works when changing templates etc.

When I remove `build_path` from `mix.exs` or simply change it to `_build`, live reload starts working properly again.

Repo for example:
https://github.com/oskarkook/phoenix-gettext-reload-issue

[2016-09-05 16:58] josevalim commented on #37
Thank you. It is an Elixir compiler bug, I am working on it. :)

[2016-09-05 18:38] josevalim commented on #37
Solved in v1.3 and master branches.

[2016-09-05 18:38] #37 closed

[2016-09-05 19:45] oskarkook commented on #37
Wow, that was fast. Tested master and it works :)

[2016-10-24 14:09] wojtekmach opened #40 "Live-reloading gettext translations doesn't work when starting app from umbrella root"
It does work but only when started from phoenix app directory: (`cd apps/example_web && iex -S mix phoenix.server`). Example repo: https://github.com/wojtekmach/gettext_umbrella/tree/master/apps

[2016-10-24 14:10] wojtekmach opened #41 "Live-reloading gettext translations from other apps in an umbrella"
Is it possible to live-reload translation changes from other apps within an umbrella?

I'm exploring two different setups:
1. Each app has it's own Gettext module. Example repo: https://github.com/wojtekmach/gettext_umbrella/tree/master/apps
2. There's just one `Translator` app that holds all translation `*.po`, and other apps depend on it. At work, we're leaning towards this setup, but any recomm

[2016-10-26 04:34] chrismccord commented on #40
hmmm can you confirm wether this is specific to gettext or you can recreate for js/css files when running from umbrella root. Thanks!

[2016-10-26 05:43] wojtekmach commented on #40
@chrismccord I can confirm it's specific to gettext, when running from umbrella root I verified that reloading templates/js/css worked.

`fs` picked up the change:

[code]

just the gettext backend module didn't get recompiled. When I restart `iex` it does get recompiled

[2016-11-03 21:40] josevalim commented on #40
Fixed in Phoenix master. :)

[2016-11-03 21:40] #40 closed

[2016-11-03 21:43] josevalim commented on #41
Fixed when #40 was fixed. :)

[2016-11-03 21:43] #41 closed

[2016-11-04 07:44] wojtekmach commented on #41
Thank you! ❤️

[2016-11-17 11:28] NobbZ opened #42 "Do not emit error on missing backend and give hints of how to fix"
A couple of minutes ago, there was a bug report in the visualixir repository because of an errormessage which the user assumed to be from visualixir. The issue in question is koudelka/visualixir#13.

I think it would be easier for new users, if PLR were only emitting a warning instead of an error, and also give a short description (or at least link to one) of what went wrong and how to fix it.

--

[2016-11-17 15:29] chrismccord commented on #42
This is an error produced by the `fs` library, so it's not something we can easily control. We do document on phoenix_live_reload that inotify is required on certain systems. Apart from adding code to check for specific deps per platform, I don't think there is much we can handle here that the docs don't address. I can see how it's frustrating for this case where users think another library is to

[2016-11-17 15:29] #42 closed

[2017-01-18 19:21] cliffrowley opened #44 "Update to fs 2.12.x"
Is there a reason that phoenix_live_reload uses the 0.9.x branch of the fs module?  Reason I ask is that the 0.9.x branch doesn't seem to work in Docker properly whereas the 2.12.x branch does.  This is a problem for presumably all watch type tools that need to be installed alongside phoenix_live_reload (https://github.com/lpil/mix-test.watch/issues/61 for example).

Alternatively I'm going to hav

[2017-01-18 19:23] chrismccord commented on #44
Can you send a PR? There shouldn't be a reason we can't jump on latest stable. Thanks!

[2017-01-18 19:23] cliffrowley commented on #44
I can indeed, I'll get on that after a quick break ;-)

[2017-01-18 19:49] cliffrowley commented on #44
Oh I noticed @Zorbash has just updated the dependencies https://github.com/phoenixframework/phoenix_live_reload/commit/3dcc7b0a712d0a4da9e16da4de0d0e500906505f

Epic, thanks! :)

[2017-01-18 19:51] cliffrowley commented on #44
Wait, I'm an idiot.  This will still need a tag & release, right?

[2017-01-18 19:56] #44 closed

[2017-01-25 12:58] rcoedo opened #45 "Phoenix fails to compile when using phoenix_live_reload 1.0.7"
I'm trying to use the latest version of the phoenix framework and I'm having some issues. I can't compile the dependencies when using the latest version of the phoenix_live_reload package, everything works if I downgrade to v1.0.6.

This is the error I'm getting:

[code]

Thanks!

[2017-01-25 15:15] chrismccord commented on #45
Can you update rebar, clean your build/deps and retry?

    $ rm -rf ~/.cache/rebar3
    $ rm -rf _build
    $ rm -rf deps
    $ mix local.rebar
    $ mix deps.get
    $ mix phoenix.server

[2017-01-25 17:15] rcoedo commented on #45
I followed your steps and I still get the same error

[2017-01-25 18:02] chrismccord commented on #45
Can you restart your computer and retry as a sanity check?

[2017-01-26 07:58] rcoedo commented on #45
I restarted, executed the following:

[code]

Got the same error 😞

[2017-01-26 08:51] rcoedo commented on #45
By the way, I'm trying this on a fresh phoenix install following the [installation guide](http://www.phoenixframework.org/docs/installation).

[2017-01-26 11:44] josevalim commented on #45
Can you please post your Elixir and Erlang versions?

[2017-01-26 11:59] rcoedo commented on #45
@josevalim I've already done it, it's elixir 1.4.0 and erlang 19 😃

[2017-01-26 12:04] josevalim commented on #45
Oops, sorry about that. :) I am releasing Elixir v1.4.1 right now because it fixes some Rebar 3 issues. Can you please give it a try in about 10 minutes?

[2017-01-26 12:20] rcoedo commented on #45
Sure, I will. thanks a lot!

[2017-01-26 12:29] rcoedo commented on #45
Unfortunately I'm still having the same issue

[2017-01-26 12:32] josevalim commented on #45
@rcoedo can you please push the app to github?

[2017-01-26 12:51] rcoedo commented on #45
@josevalim I uploaded the app [here](https://github.com/rcoedo/test_app). I included the `_build` and `deps`, maybe these can help you in some way.

[2017-01-26 14:45] ericmj commented on #45
@rcoedo What does `~/.mix/rebar3 -v` return?

[2017-01-26 14:46] rcoedo commented on #45
[code]

[2017-01-26 16:30] josevalim commented on #45
Sorry but I could not reproduce. I am using Elixir v1.4.1, Erlang 18 and the same rebar version. Also using Sierra.

[2017-01-26 16:56] rcoedo commented on #45
I just tried replacing erlang 19 with erlang 18 and it didn't work either. I will downgrade to phoenix_live_reload 1.0.6 for now, I hope we can find what causes this problem in the future.

Thanks for your help!

[2017-01-26 19:53] chrismccord commented on #45
@rcoedo can you give us some more info if you have a moment?:

What does the following output, with the latest deps that show this error?

    $ DEBUG=1 mix phoenix server

The debug flag should tell us why rebar is failing to fetch the packages. Someone else had this issue just now, and it was fixed only be running `mix local.rebar`, which you've tried. They too are on the same rebar version as y

[2017-01-27 07:35] rcoedo commented on #45
Sure, [here is the output](https://gist.github.com/rcoedo/343cc6754fab828ec700e9c1e6322f5b).

I hope this helps!

[2017-01-27 09:21] josevalim commented on #45
/cc @tsloughter. It seems to be a permissions issue?

[2017-02-03 09:46] nhooyr opened #46 "more clear README"
See http://stackoverflow.com/questions/34773779/does-phoenix-code-reloader-only-reload-elixir-code

It's not clear what this repository does in comparison with Phoenix.CodeReloader

[2017-02-07 16:29] chrismccord commented on #46
Can you send a PR? Thanks!

[2017-02-07 16:31] nhooyr commented on #46
Will do soon.

[2017-02-07 16:36] chrismccord commented on #45
I have rolled back fs and pushed a new release until we can track this one down. Anyone currently experiencing this can run `mix deps.update phoenix_live_reload`.

[2017-02-08 19:36] rcoedo commented on #45
I don't want to be the troll here, but for some reason, the exact same repository that I was testing the other day is working today. It's the the same old 1.0.7 phoenix_live_reload version (I checked it in the mix.lock file).

I have no idea of why or how is this happening 😞

[2017-02-08 21:49] josevalim commented on #45
@rcoedo no worries as multiple were reporting this issue. So we would have reverted it anyway (and yes, sometimes the issue would just disappear).

[2017-02-08 21:49] #45 closed

[2017-03-06 22:20] liveresume opened #49 "Possibility of adding mix.deps get"
So besides umbrella projects we can use local folders containing elixir apps as deps with mix.

But this dev cycle requires:
1. Make update to dep project.
2. Run `mix.deps get` in phoenix project.

Would it make sense to add `mix.deps get` to phoenix_live_reload when some special config is present?

- Does this require a full restart of Phoenix, outside the scope of what phoenix_live_reload does?

[2017-03-06 22:40] josevalim commented on #49
You don't need to do add `mix deps.get` if you are using path dependencies. Everything should just work.

[2017-03-06 22:42] josevalim commented on #49
And to clarify, `in_umbrella: true` are path dependencies.

[2017-03-06 22:43] liveresume commented on #49
Oh I had read somewhere that it was necessary.  And code reload works as well?

[2017-03-06 22:46] josevalim commented on #49
Good questions. To clarify:

Phoenix live reload doesn't work across umbrellas (i.e. the thing that automatically detects a change in your assets and then asks the browser to reload the page). It will only notify the browser changes to certain files in your current app.

However, code reloading, which is what runs every time you hit or reload a new page, does work across any path dependency, trans

[2017-03-07 01:04] liveresume commented on #49
I'm using Vue + webpack in a totally separate project for the frontend so 1 should be ok for me.

Is "code reloading" done by something other than this project?  (it's an elixir/mix thing?)

So all I should have to do is use a reference like:
`{:my_lib, in_umbrella: true, path: "../company-libs/my_lib"}`

[2017-03-07 01:40] josevalim commented on #49
Code reloading is only about the Elixir code. If you want to reload the JS
side, then you need to make sure it compiles assets to the priv directory
of your Phoenix application so your changes are picked up.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-03-07 01:44] chrismccord commented on #49
As José said, Code reloading is not the same as live reload triggered by changes phoenix_live_reload watched files. When a watched file changes, phoenix_live_reload triggers the browser to reload, which then will issue a new request that is picked up by the Phoenix.CodeReloader, which actually does the elixir code reloading. That will work in the context of umbrella apps, but the live reloader is

[2017-03-07 01:44] #49 closed

[2017-03-07 20:35] liveresume commented on #49
Checked out the code, I see the difference now.  Thanks for the help!

[2017-04-18 00:21] dropfen opened #51 "Doesn't work with mounted volumes (dockerized)"
I tried to setup a dev environment where you could start everything what you need in separate docker containers. And found an interesting behaviour of the live reload package, because it did't recognized file changes when I did the changes on the host. On the other hand, when I changed some file directly inside the container it picked up the changes and reloaded the page.

But the most strange beh

[2017-04-18 00:23] chrismccord commented on #51
This is a known issue and not something we can fix. The issue with mounted volumes is fs events and mtime/ctimes are not propagated properly. You can see similar discussions in other issues but your only options now are to host the code on the same volume it is being served from. Thanks!

[2017-04-18 00:23] #51 closed

[2017-04-18 00:25] dropfen commented on #51
Well, thanks for the blazing fast reply 👍

[2017-05-02 22:10] derailed opened #53 "fs update possible?"
All,

I am trying to use mix_test_watch as a dependency with my phoenix project and running into version conflicts with fs.

I am getting the following error while updating my dependencies:

Failed to use "fs" (version 0.9.2) because
  mix_test_watch (version 0.4.0) requires ~> 2.12
  phoenix_live_reload (version 1.0.8) requires ~> 0.9.1
  mix.lock specifies 0.9.2

Would it be possible to revive t

[2017-05-03 14:18] josevalim commented on #53
The new fs version was causing a lot of issues to build on rebar on different machines so we have reverted it. Please see the commit log. At this point it would probably be best for someone to build and maintain a file system watcher version for Elixir.

[2017-05-04 06:17] agustif commented on #53
There is [sentix](https://github.com/zackehh/sentix) which uses fswatch under the hood, not sure if that's worse than fs which is erl/OTP at least

[2017-06-02 19:35] ryansch opened #54 "Old fs doesn't listen for ATTRIB events"
I'm using dinghy with fsevents_to_vm to run my phoenix container.  It basically touches files in the VM via ssh to force inotify events.  The 0.9.1 fs version pinned in https://github.com/phoenixframework/phoenix_live_reload/commit/e54bf6fb301436797ff589e0b76a047bb79b6870 doesn't listen for the ATTRIB events that come out of this setup but the 2.12.0 version does.

This completely breaks live relo

[2017-06-02 19:38] chrismccord commented on #54
We're locked on an older version of fs because of undiagnosed rebar build issues folks were experiencing on 2.12.x.

Also, there are known issues with containers on both live_reload as well as recompilation in general so this is not something we plan to tackle right away. Long term, we're moving away from fs and you should able to take this approach, but it's not something we're prioritizing at th

[2017-06-02 19:38] #54 closed

[2017-06-04 13:42] idi-ot opened #55 "Phoenix fails in live_reloader when response is encoded with Msgpax"
I've made a PR [#87](https://github.com/absinthe-graphql/absinthe_plug/pull/87) to add custom serializers for `absinthe_plug`, and I've also set up a repo [idi-ot/absinthe_test](https://github.com/idi-ot/absinthe_test) to try it out with `msgpax`, but the query
[code]
fails with
[code]
on the phoenix's side.

There is some more discussion on [elixirforum](https://elixirforum.com/t/phoenix-fails-in

[2017-06-04 14:16] josevalim commented on #55
You probably want to convert the iodata_to_binary directly and bypass the encoding, which is taken into account by List.to_string. Remember, binary is raw, string expects utf-8.

[2017-06-04 14:16] #55 closed

[2017-06-04 14:19] idi-ot commented on #55
But it would be kind of a hassle to do that only in the dev environment. Maybe I can try to add a check in `before_send_inject_reloader/2` for whether the data to be encoded is an iolist and then use `IO.iodata_to_binary/1` instead of `to_string`? Since it all works fine with `code_reload` off.

[2017-07-11 17:34] cjbottaro opened #58 "Can't find app in prod"
My `deps/0` function has this line:
[code]

But then when I try to start my app in prod mode with `MIX_ENV=prod mix phx.server`, I get this error:
[code]

Why is it trying to start the application in `prod` when the dep lists it as a `dev` only dep?

Oh, and my `application/0` function only lists extra applications:
[code]

[code]

Thanks.

[2017-07-11 18:06] cjbottaro commented on #58
Figured out the problem.

I'm building Docker images and at the time the image is built, the `MIX_ENV=dev`, but then I'm running the Docker containers with `MIX_ENV=prod`.

[2017-07-11 18:06] #58 closed

[2017-07-20 04:57] mveytsman commented on #53
@josevalim It looks like https://github.com/falood/exfswatch might fit the bill. It's derived from a newer version of fs but doesn't depend on it any more (the author packaged in the c shims and the exe). It's a mix project so the rebar issues will go away.

Would you be interested in a PR that switches over to exfswatch?

(cc @falood)

[2017-07-20 07:31] josevalim commented on #53
@mveytsman oh, that looks very interesting. The only question though is why didn't the author consider a functional API? There is no need to have `use` with a compilation time path, we would definitely need a function that we call at runtime instead.

[2017-07-20 18:17] falood commented on #53
I'm not sure whether it's a good time to talk about filesystem monitor for erlang/elixir here.
I researched filesystem monitor solution long time ago, and I think for now we only have 3 backends touse: [fswatch](https://github.com/emcrisostomo/fswatch), [watchman](https://github.com/facebook/watchman) and [fs](https://github.com/synrc/fs).

### fswatch
  support most kinds of OS
  should be instal

[2017-07-20 18:54] josevalim commented on #53
@falood thanks for the overview. :heart: The most important, IMO, is the number of OS supported and the out of the box experience.

I don't mind depending on fswatch as long as the project provides a Mix task to download the executable and make it locally available. So for example, if you try to run the project for the first time, it could say: "fswatch is not available, you may either install one

[2017-07-20 19:17] mveytsman commented on #53
@falood if you'd like, I'd be happy to take a crack at adding a functional API to exfswatch similar to what @josevalim described.

Let me know!

[2017-07-20 19:22] whitfin commented on #53
@josevalim I would be more than happy to add mix tasks to Sentix for installing `fswatch` if missing. Where would you recommend we place it; does it make sense to throw something like that just in priv?

The current API is pretty similar to what you described:

[code]

If it needs it, totally happy to adjust the API as needed in a major bump - existing API was thrown together quite quickly for a u

[2017-07-20 20:54] josevalim commented on #53
@whitfin the mix tasks can be part of lib. The precompiled stuff can be hosted on S3 or even on GitHub. Alternatively you can fetch fswatch release file and attempt to compile it on the user machine. Anyway, the idea is to make everything flowing with as little user input as possible.

I do like the Sentix API, so you should definitely stick with it. :+1:

My personal preference would be something

[2017-07-20 21:10] josevalim commented on #53
I realize I may been sending mixed signals, so let me try to clarify my position.

First, thank you @whitfin and @falood for the great projects! And thanks everyone who joined the discussion so far.

I would love to get rid of the `fs` dependency from Phoenix. My preferred approach is the one in exfswatch because it provides a better out of the box experience. My only concern is the API. If we can

[2017-07-20 21:19] falood commented on #53
thank you @josevalim

For a long term plan, do you think it's better to have an elixir-level interface?
The responses and events are different from different backends, at least we can define the `event list`, something like [this](https://github.com/synrc/fs/blob/master/src/sys/fsevents.erl#L8).
Is it a good idea to have a middleware project like `plug`, and we'll migrate current project as a back

[2017-07-20 21:37] josevalim commented on #53
Yes.

Each backend implementation should normalize the events into a common format. The good news is that we don't need to support all of them, start small with a handful of events. You can add more when people request it.

I don't think such is necessary. The contract between backends is much simpler than the HTTP spec abstracted by Plug. If you really want to, you and @whitfin can define a forma

[2017-07-20 21:41] mveytsman commented on #53
If you're looking to define a format like that, the [design doc](https://docs.google.com/document/d/1-GQrFdDVrA57-ce0kbzSth4lQqfOMMRKpih3hPJmvoU/edit) for Go's [fsnotify](https://github.com/fsnotify/fsnotify).

For now, I'm going to work on getting exfsnotify to have an api similar to fs so we can use it in phoenix. And I'll move the conversation over to exfsnotify so we don't hijack this thread :

[2017-08-01 14:23] skinandbones opened #60 "Asset change should only emit when the file contents have changed"
An asset change is being triggered when the file mtime changes with no change in content.  This can cause unexpected page reloads.  To reproduce,

[code]

This became an issue for me when I was replacing Brunch with Webpack.  In my case, I configured Webpack to generate separate css and js.  Each time Webpack runs, all of the css and js files are regenerated (even if there's no content change) whi

[2017-08-01 14:58] chrismccord commented on #60
Since you are using HMR, can you simply remove the js pattern from your live reload config? Or do you still require full phoenix_live_reload page refresh for js changes. I would prefer to wait on this change since it's the first time this has come up and I would like to avoid hitting disk if possible.

[2017-08-01 17:30] skinandbones commented on #60
Hi @chrismccord 👋  Thanks for the awesome work!

This can wait – it's not blocking me at all.  I've gotten everything working the way I like by using webpack-dev-server, HMR, and css-hot-loader.  It's a non-trivial setup to say the least and took some integration work in the phoenix app for :dev vs. :prod.  Not as clean as the brunch setup.

My initial goal was to use webpack in the simplest confi

[2017-08-01 17:43] skinandbones commented on #60
With HMR (w/ webpack-dev-server), phoenix_live_reload will handle the refresh when the views and templates change.  phoenix_live_reload isn't needed for refresh on js changes.  In fact, the static assets generated by webpack don't even get written into the output directory so there are no file changes for phoenix_live_reload to detect.

[2017-08-03 17:29] OvermindDL1 opened #61 "Server Freezes with bad EEX"
Had this code in an EEX file:
[code]
And when I hit save it caused the output terminal to *fill* with:
[code]
It was filling so fast that the BEAM itself stopped responding to network input and nothing was working until I eventually had to `kill` it (not even Ctrl+C or any other escape commands were working).

Notice that the `do` was missing/forgotten off the `if`, once that was added back in the

[2017-08-11 05:17] chrismccord commented on #53
We have released 1.1.0 with `:file_system` for change monitoring

[2017-08-11 05:17] #53 closed

[2017-08-23 15:54] superherointj opened #62 "Live Reloading Broken in Windows 10"
Since latest changes live reloading is not working in Windows 10.
Phoenix 1.2 worked.
Phoenix 1.3 doesn't.
Tested by two different users.
I was asked to post here instead of Phoenix tracker.
I don't know how to dig further the issue.

Erlang/OTP 20 [erts-9.0] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10]
Elixir 1.5.1

[2017-08-23 15:56] chrismccord commented on #62
Please include your version of `phoenix_live_reload` from `mix deps`

[2017-08-23 15:56] josevalim commented on #62
Also, is anything logged when you run `mix phx.server`?

[2017-08-23 16:04] superherointj commented on #62
It is not logging anything to 'iex'. It seems the changes are not being triggered.
Current version installed is 1.1.0.
Previous that worked is 1.0.8. (phoenix 1.2)

[2017-08-23 17:42] josevalim commented on #62
@superherointj just to be double sure, can you please start a new phoenix session with `iex -S mix phx.server`, do a new request and then post here everything that is printed to the terminal from the call to IEx up to the end? Thanks!

[2017-08-23 17:54] OvermindDL1 commented on #62
As a data point, a Phoenix 1.3 project on Windows 10 in `MIX_ENV=dev` reloads files fine here, css, source, and templates.

[2017-08-23 17:54] superherointj commented on #62
D:\dev\elixir\liver>iex -S mix phx.server
[info] Running LiverWeb.Endpoint with Cowboy using http://0.0.0.0:4000
Interactive Elixir (1.5.1) - press Ctrl+C to exit (type h() ENTER for help)
iex(1)> 14:48:30 - info: compiled 5 files into 2 files, copied 3 in 1.1 sec

#### HERE I OPEN THE PAGE ####
iex(1)> [info] GET /
iex(1)> [debug] Processing with LiverWeb.PageController.index/2
  Parameters: %{}

[2017-08-23 17:55] josevalim commented on #62
Thanks @OvermindDL1! Can you please check it after `mix deps.update phoenix_live_reload` as well? We have recently released a new version, so you may not be running on the latest.

[2017-08-23 17:55] josevalim commented on #62
@superherointj thanks! We can see that the assets are being recompiled. So it is indeed something specific to the live reload in particular.

[2017-08-23 17:58] superherointj commented on #62
D:\dev\elixir\liver>mix deps.update phoenix_live_reload
Running dependency resolution...
Dependency resolution completed:
  cowboy 1.1.2
  cowlib 1.0.2
  file_system 0.1.5
  gettext 0.13.1
  mime 1.1.0
  phoenix 1.3.0
  phoenix_html 2.10.4
  phoenix_live_reload 1.1.0
  phoenix_pubsub 1.0.2
  plug 1.4.3
  poison 3.1.0
  ranch 1.3.2

[2017-08-23 17:58] #46 closed

[2017-08-23 18:01] josevalim commented on #62
Sorry, the `mix deps.update` command was for @OvermindDL1. :) You are on latest.

@superherointj, can you please try this:

[code]

And let us know what it returns?

[2017-08-23 18:10] superherointj commented on #62
What should I add to Path.absname("")? Should I try it empty?
---

D:\dev\elixir\liver>iex -S mix phx.server
[info] Running LiverWeb.Endpoint with Cowboy using http://0.0.0.0:4000
Interactive Elixir (1.5.1) - press Ctrl+C to exit (type h() ENTER for help)
iex(1)> 15:07:12 - info: compiled 5 files into 2 files, copied 3 in 1.2 sec
iex(1)> FileSystem.start_link(dirs: [Path.absname("")], name: :tryin

[2017-08-23 18:51] josevalim commented on #62
@superherointj helped me find the bug. The issue is that the paths reported by `file_system` on Windows are using `\\` but the patterns only use `/`.

@falood @mveytsman what do you think should be the proper solution here?

Should the filesystem project normalize paths? Or should it return the raw paths and Phoenix does the normalization? In any case, the solution is easy:

    path = path |> Pat

[2017-08-23 22:50] falood commented on #62
![image](https://user-images.githubusercontent.com/184053/29641913-b9a9eecc-881a-11e7-8cfb-f6a942b7e27c.png)

It seems erlang use `/` as default path separate in windows, so I think I should return the same format with my code, right?
BTW, `Path.join` also use `/` for windows.

[2017-08-23 22:55] josevalim commented on #62
@falood yes, that's why using `path |> Path.split |> Path.join` works, because Elixir and Erlang normalizes it. If we want to fix it in `file_ssytem`, it should be a question of doing the split+join here: https://github.com/falood/file_system/blob/master/lib/file_system/backends/fs_windows.ex#L152

But if you don't think we should change file_system, then I can fix it here. :) your call!

[2017-08-23 23:00] falood commented on #62
sure, I'll fix it and bump a new version today, thank you!

[2017-08-24 04:48] falood commented on #62
@josevalim  I have fixed and released the new version, it's not a fast-forward change, so the new version number is `v0.2.0`.

[2017-08-24 06:54] josevalim commented on #62
Beautiful, thank you! @superherointj can you please run:

     mix deps.clean phoenix_live_reload
     mix deps.clean file_system
     mix deps.update file_system

and let us know if it works? Thank you.

[2017-08-24 11:45] superherointj commented on #62
file_system 0.2.0; phoenix_live_reload 1.1.0
Works just fine.
phoenix_live_reload version wasn't bumped.

[2017-08-24 13:44] #62 closed

[2017-08-24 13:44] josevalim commented on #62
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2017-09-20 20:27] ourway opened #65 "Not working in Freebsd"
Apparently, freebsd does not have anything like inotify, so Phoenix live reload is not working there.  Inotify is a Linux kernel feature and not supported in BSD.  Any workarounds?

Here the error:

`Couldn't watch modify: No such file or directory`

[2017-09-20 20:34] ourway commented on #65
I guess this issue is related to [File_System](https://github.com/falood/file_system), So I am closing it.

[2017-09-20 20:53] ourway commented on #65
I guess this issue is related to FileSystem

[2017-12-13 13:26] zhengxiaoyao0716 opened #67 "Sometimes the built file will be empty after live reload."
I wrote some codes, they were built succeeded and output into `./priv/static/script/`:
![image](https://user-images.githubusercontent.com/12682063/33940271-4d14cebc-e049-11e7-97d2-50566bbdd0f7.png)

But, if I change my codes and trigger the `live-hot`, sometimes the copied file in `_build/dev/lib/my_app_path/priv/static/` would be cleared:
![image](https://user-images.githubusercontent.com/1268206

[2017-12-13 13:37] zhengxiaoyao0716 commented on #67
Maybe you can take a try, the project ispublic, here the repository: [honeycomb-adventure](https://github.com/zhengxiaoyao0716/honeycomb-adventure) .
And here my environment:
![image](https://user-images.githubusercontent.com/12682063/33941396-70c9c4ee-e04d-11e7-8050-5655572fbb91.png)
 Windows 10 Version 1703, Enterprise edition.

Hoped this information can make some help.

[2017-12-13 13:41] josevalim commented on #67
Thank you @zhengxiaoyao0716! It seems this issue is specific to Windows. Since we can't properly use symlinks on Windows, we need to copy the files and something is happening when we copy them.

Pinging @OvermindDL1 in case he has any ideas what may be happening.

[2017-12-13 13:46] zhengxiaoyao0716 commented on #67
Well, I'm glad that I could help you. Since this problem may caused by `symlinks` and only happened on Windows, I'll try to working on other system for the moment.

[2017-12-13 15:52] OvermindDL1 commented on #67
I thought a message was added at load time that warned you exactly of this and how to fix it as well, wasn't it?

[2017-12-13 20:56] chrismccord commented on #67
:D In all seriousness I don't think we can help this one on our end, but maybe we can include docs somewhere for windows to recommend running as admin?

[2017-12-13 21:07] OvermindDL1 commented on #67
Lol, more that the beam is too fast because it does not listen for the windows even that says a flush is complete, and even then if an anti-virus exists then it will lock the file before it could be re-opened anyway, thus still causing the same issue...  ^.^;

I thought it was already documented when a person loads a phoenix server in dev mode on windows, it should print a good sized paragraph tal

[2017-12-13 21:09] OvermindDL1 commented on #67
Ah, yes indeed it is still there:

https://github.com/phoenixframework/phoenix/blob/8dbb2609dc933b367b8463a4cee62d2f3cde0f8d/lib/phoenix/code_reloader/server.ex#L37

And:

https://github.com/phoenixframework/phoenix/blob/8dbb2609dc933b367b8463a4cee62d2f3cde0f8d/lib/phoenix/code_reloader/server.ex#L81

[2017-12-13 21:10] chrismccord commented on #67
ah, beautiful. Thanks!

[2017-12-14 01:58] zhengxiaoyao0716 commented on #67
@OvermindDL1 Thanks, I found the message, it is just in the third screenshots of the first floor, but I didn't realize it at first that this was the reason of this problem.

[2017-12-14 02:07] zhengxiaoyao0716 commented on #67
@OvermindDL1 As the message guide, I tried to run phx.server as `Administrator`, and found the `priv` folder in `_build` now is a symbol link, and seems no problems.
![image](https://user-images.githubusercontent.com/12682063/33971947-294cfe24-e0b6-11e7-994a-b31403d56533.png)

[2017-12-14 02:16] zhengxiaoyao0716 commented on #67
I have a small idea, the only thing we need is to create some symbol links as `Administrator` for those folders.
We don't need to create them each times at the `phx.server` task. we can provide another task to allow user create those symlinks as `Administrator`, then each time that `phx.server` start, check those symlinks and if they are not exist, give a tip to users that they need manual execute

[2017-12-14 02:26] zhengxiaoyao0716 commented on #67
Umm, perhaps we have a easier choise, just change the message like `you need to run this task as Administrator at least once time`, if user did this and the symbol links already exist, hide the message.

[2017-12-14 15:24] OvermindDL1 commented on #67
Hmm, a check to see if the symlink already exists and points to the correct location might indeed be a good quality-of-life workaround, and only be a line or two of code to implement (if the BEAM has a command to query that information, I'm not actually sure, never used it...).  You should PR it?  :-)

[2017-12-14 15:25] OvermindDL1 commented on #67
Also, heh, it is, I missed it too.  I could have sworn it was red when I had it.

[2017-12-15 11:52] zhengxiaoyao0716 commented on #67
@OvermindDL1 That is my PR , I tested those code on my windows system locally and they works well, but maybe we need more test on other systems.

In addition, I tried some terminals I can found on my Win10, powershell, cmd, mingw. But none of them can render color with [warn] logger. In my VSCode debug console, the message starts with `warning` is red, but [warn] logs still can't.

[2017-12-18 14:09] #67 closed

[2017-12-27 04:45] OvermindDL1 commented on #67
For note, none of what you listed are terminals but rather are shells.  The terminal you were probably using was 'command'.  I tend to use conemu as the terminal myself though.

[2018-01-06 10:24] jung-hunsoo opened #68 "Add configuration for delay (ms)."
I found that sometimes live_reload is triggered before the codes being compiled. (on ubuntu 14.04)

Of course the best solution is to track the changed file properly, but it'll be an useful walkaround to configure delay (in milliseconds) before triggering reload.

And for the default value, I think 1~2s will be ok in general dev env.

[2018-01-06 11:21] josevalim commented on #68
@jung-hunsoo thanks! Before we discuss adding this to Phoenix per se, can you verify that it actually works for you? You can try the following:

1. Open up deps/phoenix_live_reload and change the channel to have a `Process.sleep(1000)` before pushing the event.

2. Then run `mix deps.compile phoenix_live_reload`

3. Then try it out and let us know if it solves the issues you are seeing. :)

[2018-01-06 15:43] jung-hunsoo commented on #68
@josevalim Thanks for help.

I found that there're two points to place a sleep function; Server side and Client side.

Though `Process.sleep(1000)` looks elixir syntax, I tried `setTimeout(function(){ reloadStrategy(chan); }, 3000);` in the `chan.on('assets_change', function(msg) {` in `priv/static/phoenix_live_reload.js` and it works.

I don't have enough experience to find out where to put the c

[2018-01-06 15:59] jung-hunsoo commented on #68
I added `Process.sleep(1000)` in line 24 of `lib/phoenix_live_reload/channel.ex` and it worked greatly.

Both ex and js side works properly!

[2018-01-06 16:25] josevalim commented on #68
@jung-hunsoo using Process.sleep() in this case is fine because it will sleep only the channel this particular browser tab is talking to... but I am thinking handling it on the JS side may be enough/better. If you add a sleep only on JS land... is it enough?

[2018-01-07 00:41] jung-hunsoo commented on #68
@josevalim Your're right, on js side should be enough. Applying to either sides work with no difference, and it looks more reliable to hold an interval on client side.

Only problem is that I don't know how to pass the delay value in configuration file to the js, due to my poor experience.

[2018-01-07 00:59] josevalim commented on #68
I think you would need to set a variable here: https://github.com/phoenixframework/phoenix_live_reload/blob/master/lib/phoenix_live_reload/live_reloader.ex#L74

And then use this variable in the JS code. Similar to how we do with the socket variable.

[2018-01-07 05:41] chrismccord commented on #68
I'm confused on the cause of this issue since the live reload only triggers a page refresh, which will necessarily recompile the code, so I don't see where the race condition exists? What am I missing that adding a delay fixes?

[2018-01-07 06:12] jung-hunsoo commented on #68
@chrismccord Actually there are two issues what I'm experiencing with live reload.

1. Live reload is triggered four times per every file change. For example, when I edit and save the `show.html.eex`, `[debug] Live reload: lib/nohogu_web/templates/tips/product/show.html.eex` is printed four times. I wanted to find out why, but not done yet.

2. Sometimes when I edited and saved the template file,

[2018-01-25 03:13] DavidVII opened #70 "Live reload doesn't work on Ubuntu using NeoVim"
This seems strange to me, but it appears that saving a template file using NeoVim causes the app to throw a `Phoenix.Template.UndefinedError` exception. I make the exact same changes using VSCode or a plain text editor and the live reload functionality works as expected.

I installed the inotify tools as mentioned in the installation guides and ran neovim without an init.vim file as to not use any

[2018-01-25 16:11] josevalim commented on #70
@DavidVII sometimes people report issues once they enabled certain plugins in their editor, that try to automatically recompile the code. Then your editor ends-up racing with the Phoenix process. So I would start by stripping plugins or starting neovim in a "blank mode" and see if you can still reproduce it.

[2018-01-25 16:38] OvermindDL1 commented on #70
I'm unsure about the vim extensions, but at least in emacs and atom I can configure what mix environment it should compile in (it compiles so it can get error messages and so forth for display), and I use `test` for that, which will not conflict with phoenix running in the default 'dev' mode anyway.  :-)

[2018-01-25 17:15] DavidVII commented on #70
@josevalim thanks for responding.

I had tried running neovim without an init file so there weren’t any plugins loaded. The problem unfortunately continued.

Perhaps this is an issue with the inotify-tools, but I’m not sure.

[2018-01-25 17:38] OvermindDL1 commented on #70
As a side note, the thing that finally switched me from a lifelong vim/neovim user to emacs was the SpaceMacs plugin set for emacs, which has quite an interesting vim-like mode (`evil` mode when it asks upon first-time startup), and it works very well with elixir (set `MIX_ENV=test` before running emacs), maybe give it a try?  :-)

[2018-02-09 20:36] ourway commented on #65
I am still getting this error.  Anyone?

[2018-04-01 16:24] jakub-zawislak opened #71 "CSS reload not working in iframe"
I have an app which has an iframe that comes from the same app. When I change CSS of iframe's site, then nothing happens, CSS in iframe is not reloaded.

Changes in HTML/JS of iframe's site works fine, the whole page is always reloaded. It's obvious because it always reloads page regardless of which file was modified. So the problem is with that complex CSS reloading.

Anyway, it would be nice to

[2018-04-01 17:04] josevalim commented on #71
What do you mean?

[2018-04-01 17:34] jakub-zawislak commented on #71
For example, you have a script that on page load assigns to a variable some [computed style](https://developer.mozilla.org/en-US/docs/Web/API/Window/getComputedStyle) and uses it later. Of course it's value depends on CSS file. Then CSS is reloaded. Then JS could have old invalid value.

I've never had such case. I'm sometimes using that getComputedStyle, but always when user click on something et

[2018-04-01 18:40] josevalim commented on #71
@jakub-zawislak oh, I see. In any way, I think a pull request to force reload would be welcome.

[2018-04-02 18:46] #71 closed

[2018-05-09 08:53] #68 closed

[2018-05-09 08:53] josevalim commented on #70
@DavidVII sorry for the delay, does the issue still exists? Does it happen if you use another editor?

[2018-05-09 08:56] josevalim commented on #65
@ourway sorry for the delay here. The solution is to add a new backend to FileSystem that is also capable of handling FreeBSD. One option is to provide integration with fswatch but it is out of scope of phoenix_live_reload to track it. Thanks!

[2018-05-09 08:56] #65 closed

[2018-05-10 06:17] DavidVII commented on #70
@josevalim no problem at all.

Yes, this is still happening, but I think it may have something to do with neovim or possibly webpack. At some point, I was able to replicate this issue with a newly created phx app and neovim, but now I haven't been able to replicate it with a new app with just vim.

The issue *does* happen on an existing codebase that is running webpack. Not really sure what the de

[2018-05-10 07:01] josevalim commented on #70
@DavidVII if it only happens in neovim then it definitely feels like something is triggering the reload or messing up with file system, although I have no idea what it may be. I will leave it open in case somebody else has a clue or has the same issue. Thanks for the reply!

[2018-05-10 07:12] DavidVII commented on #70
@josevalim it happens in regular vim as well. Also, it only happens on Ubuntu and not on MacOS. Feels like an odd issue and agree that it sounds like a file system thing. It's not a huge issue (for me at least) since a simple refresh gets me back on track, but it doesn't seem like others are experiencing this.

Cheers!

[2018-05-10 12:55] tomciopp opened #74 "Merge tag 1.1.5 into master"
release was pushed but it looks like master is still behind.

[2018-05-10 12:56] josevalim commented on #74
Done, tks!

[2018-05-10 12:56] #74 closed

[2018-05-18 16:38] mobileoverlord opened #75 "transport/3 is deprecated"
I am currently using this in pace with phoenix master and am receiving warnings about the deprecation of `transport/3` in the socket.

I understand I am running the edge and that organizing the dependency repositories is "coming soon". I have a fork where I just removed the calls to `transport/3` and I updated the live reload socket declaration in my projects endpoint and its working. But I was cu

[2018-05-18 17:20] josevalim commented on #75
Yeah, we will bump the requirement after 1.4 is out.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-06-21 20:46] #70 closed

[2018-06-21 20:47] #10 closed

[2018-06-21 20:47] josevalim commented on #10
I believe Phoenix v1.4 is adding this to its exception pages.

[2018-06-27 13:03] likal opened #77 "Please update Readme"
As it depends on "file_system" it also supports OpenBSD and FreeBSD.

[2018-06-27 13:07] likal opened #78 "Choosing desired Backend"
FileSystem allows to use custom backend. So instead of default ":fs_notify" (inotify-tools) I wish to use :fs_poll which doesn't need extra dependencies.

"start_link" has hard coded opts so there is no way to pass "backend: :fs_poll".

It would be good to alter this setting from "config.exs" or even "dev.exs" in Phoenix app.

[2018-06-27 13:12] josevalim commented on #78
Can you please send a pull request? Thank you! :D

[2018-06-27 13:12] josevalim commented on #77
Can you please send a pull request? Thank you! :D

[2018-06-27 13:13] chrismccord commented on #78
We should reference it from the `config :my_app, MyApp.Endpoint, live_reload: [backend: ...]` keyspace

[2018-06-27 13:20] josevalim commented on #78
@chrismccord IIRC that is not possible today because we start only a single file system watcher. We would need to rewrite how this part of the system works in order to support a watcher per backend. So a global config is fine for me.

[2018-06-27 13:30] chrismccord commented on #78
Ah, you are right. Given this is only dev, a global config can work for now 👍🏻

[2018-06-27 19:50] likal commented on #78
Just prepared small change to set backend directly from `config/config.exs`

[2018-06-28 08:55] #77 closed

[2018-06-28 08:55] #78 closed

[2018-07-11 21:00] aj-foster opened #81 "Question: `window.top` vs. `window.parent`"
In the JavaScript portion of this project, the `pageStrategy` scheme causes a reload using `window.top.location.reload()` ([see here](https://github.com/phoenixframework/phoenix_live_reload/blob/master/priv/static/phoenix_live_reload.js#L44)). This makes sense, as the JavaScript itself is running inside of an `iframe`.

However, I'm curious if there was a specific motivation for using `window.top`

[2018-07-11 21:10] josevalim commented on #81
Parent would be fine for me, we could give it a try. In the worst scenario
we make it customizable.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2018-07-11 23:16] parkerl commented on #81
I seem to recall that the reload code itself is injected via an iframe. This might cause issues with “window.parent”? Honestly can’t remember exactly.

[2018-07-16 13:19] aj-foster commented on #81
I feared something like that might be true. Our tests with `window.parent` have been successful so far, but we have not been comprehensive in our browser selection.

We’re happy to maintain a fork with this change for our needs. If time allows, I will attempt to do further testing. In the meantime, feel free to close out this issue — and thank you all for your time!

[2018-07-16 14:30] chrismccord commented on #81
If you are able to test on IE please let us know how it goes and we can get this change in place. Thanks!

[2018-07-16 14:30] #81 closed

[2018-07-20 22:14] niccolox opened #82 "umbrella app live_reload crashes on phoenix 1.4-dev"
I have a phoenix 1.4-dev umbrella app that was working in live reload mode in dev until recently, maybe 4 weeks or so

the structure is thus

web_1
web_2
web_3
db

when live reload is turned off the entire umbrella app will run

when live reload is on and I run MIX_ENV=dev iex -S mix phx.server within web_x folder live reload works

I havent got a public demo codebase for this

(I think also Disti

[2018-07-20 22:39] josevalim commented on #82
You are correct. Can you please file this bug on Phoenix?

[2018-07-24 15:55] easco opened #83 "Live Reloader and Apps that are not at "/", the server root"
Our application in production runs through a proxy with a base URL that is not "/".  To emulate that in development environments we run the application under a proxy and use the `:path` option of the `:url` config of the endpoint to identify the root path (with appropriate updates to the router, static path locations, etc).

[code]

This "breaks" the Phoenix.LiveReloader plug's functionality.  At

[2018-07-24 18:47] josevalim commented on #83
@easco the path configuration only affects URL generation. It is assuming that you are actually running the service behind a proxy that is yanking the /myapp from it when you access it. So I am afraid that other things will break, unless you have a proxy in front of the application and stripping the /myapp part.

[2018-07-24 22:36] jameskerr commented on #60
I just ran into this as well.  I loved brunch but it looks like it's not being maintained to the level I'm comfortable with. I switched from brunch to webpack.

My webpack setup outputs two files (`js/index.js`, `css/app.css`) each time css or js changes. This causes the whole page to refresh when I just change a style.

@skinandbones, like you, I'm hesitant to dive into the complexity of HMR with

[2018-07-24 22:41] josevalim commented on #60
@jameskerr did you take a look at how Phoenix master handles webpack? Phoenix v1.4 will ship with webpack, so maybe this issue is fixed there (or maybe now all applications will have this issue).

[2018-07-24 22:47] josevalim commented on #60
Actually, it seems Phoenix master has this issue.

@chrismccord should we move this to the Phoenix repo so we can track it for the release?

[2018-07-24 22:50] jameskerr commented on #60
Thanks for the quick response @josevalim . I just took a look at Phoenix master and found code very similar to what I just setup today. That's encouraging. I'll be tracking this. Please point me in any direction I might be able to help.

[2018-07-24 22:55] josevalim commented on #60
@jameskerr if you want to give this a try, it would be awesome. I think caching the MD5s on the Phoenix channel as proposed by @skinandbones is a good starting point.

[2018-07-24 22:57] jameskerr commented on #60
I'll take look!

[2018-07-24 22:58] chrismccord commented on #60
caching at the channel side won't be enough because the page refreshes and discards all channel state before starting a new channel. We can however have a separate process that boots with the app which watches for changes and the channel subscribes to it.

[2018-07-25 01:23] easco commented on #83
FWIW, so far this is the only thing we've run into. The root path does have to be accounted for in the router (we have to take it into account in the scope) and IIRC the lines in the endpoint where we define where static assets are served.

The path on the endpoint, as you point out, DOES affect URL generation as seen in `reload_assets_tag` above, the logical inconsistency is that the the pattern

[2018-07-25 05:15] easco commented on #83
I have the case where my Development  mirrors Production.

As I understand your comments, you are saying that Phoenix is only designed to run applications that are hosted at the root path, “/“, of the server they are running on. Is that an accurate statement?

[2018-07-25 07:19] josevalim commented on #83
No. :) you can run Phoenix under /my_app, but the proxy/load balancer
should then remove it when invoking your app. This is the typical behavior
of proxy/load balancer.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2018-07-25 07:46] #83 closed

[2018-07-25 14:09] jeregrine commented on #60
Should/Could we ship webpack with HMR/CSS loading using webpack's tools and reserve the phoenix loader for template/view changes?

[2018-07-25 15:01] skinandbones commented on #60
@jeregrine Agree with @josevalim.  I would not recommend using webpack for CSS hot reloading by default.  I've been using a webpack HMR setup in my Phoenix apps since I submitted this issue, but it's not for everyone.  The setup ripples into many things and stuff gets weird if you don't understand what's going on.

[2018-07-31 19:16] brousalis opened #84 "."

[2018-07-31 19:26] #84 closed

[2018-08-23 01:07] schlumpfling42 opened #85 "Live reload not working in debug mode"
When I start the server in debug mode (I use VSCode with the Elixir plugin) or start the debugger in an iex sesstion, and change an .eex file, I get the following error:
== Compilation error in file lib/simpleApp_web/views/page_view.ex ==
** (CompileError) lib/simpleApp_web/views/page_view.ex:2: module SimpleAppWeb is not loaded and could not be found
    (elixir) expanding macro: Kernel.use/2

[2018-08-23 02:44] schlumpfling42 commented on #85
One way to reproduce is to run 'iex -S Mix phx.server' and then calling ':debugger.start()'

[2018-08-23 04:45] schlumpfling42 commented on #85
I just retried it and I cannot reproduce it. There is something else that needs to happen. I'll investigate and post steps to reproduce as soon as possible.

[2018-08-25 21:03] schlumpfling42 commented on #85
Closing the issue, the reloading behaves differently when using iex and the VS Code debugger, but I think that's no a reloader issue.

[2018-08-25 21:03] #85 closed

[2018-10-10 22:27] aspett opened #86 "mix.exs specifies 'or ~> 1.4' which does not match '1.4.0-rc.0'"
mix.exs specifies 'or ~> 1.4' which does not match '1.4.0-rc.0', as seen when trying to `mix deps.get`

[code]

[2018-10-10 22:28] chrismccord commented on #86
I literally *just* pushed 1.1.7 which fixes this! :D Thank you!!!

[2018-10-10 22:31] aspett commented on #86
I think this is still an issue @chrismccord :P

`or ~> 1.4` doesn't match `~> 1.4.0-rc`

[2018-10-10 22:32] aspett commented on #86
https://github.com/phoenixframework/phoenix_live_reload/blob/master/mix.exs#L39

[2018-10-10 22:36] chrismccord commented on #86
Yeah are right, sorry :)

[2018-10-10 22:37] bzitzow commented on #75
+1

Updating to phoenix 1.4.0-rc based on these instructions:
https://gist.github.com/chrismccord/bb1f8b136f5a9e4abc0bfc07b832257e

[code]

[code]

[2018-10-10 22:39] chrismccord commented on #86
I have updated the upgrade guides to instruct `{:phoenix, "~> 1.4.0-rc", override: true}`. Thank you!

[2018-10-10 22:40] #86 closed

[2018-10-10 22:40] aspett commented on #86
No, no! Thank you :)

[2018-10-11 15:19] ericmj commented on #86
We are planning on fixing this in hex: https://github.com/hexpm/hex/issues/613

[2018-10-12 15:13] chrismccord opened #87 "Release 1.2.0 once Phoenix 1.4.0 is final"

[2018-12-26 02:28] bingoabs opened #89 "Phoenix close the connection if the request need more time than normal"
Hi, I came cross a issue that the `Phoenix Application` will close the connection after about 60s.

I have a `nginx server` before the `Application`, I found the `nginx error log` show `upstream prematurely closed connection while reading response header from upstream`.

Check the `Application log`, I found the `Application` just close the request without any log!
I think someone can find the beha

[2018-12-26 09:03] josevalim commented on #89
Closing this as mentioned, thanks for the report!

[2018-12-26 09:03] #89 closed

[2018-12-26 09:58] bingoabs commented on #89
@josevalim  I am sorry. And thanks a lot for your reply

[2019-01-20 17:57] axelson commented on #87
phoenix_live_reload 1.2.0 has been released so this issue can be closed: https://hex.pm/packages/phoenix_live_reload/1.2.0

[2019-01-20 18:06] #87 closed

[2019-04-24 11:00] topaxi opened #94 "CSS change triggers full page reload"
The README states that CSS file changes should not trigger a full page refresh, but changing the default CSS in a phoenix application does indeed trigger one.

This seems to be caused indirectly by using webpack, as changing the CSS file also changes the JavaScript file.

[2019-04-24 11:11] #75 closed

[2019-04-24 11:11] josevalim commented on #94
If so, it is not really a bug in LiveReload but rather in the webpack configuration. Ideally, if the JS does not change, then webpack should not write a new file to disk. Could you please send a PR to our builtin webpack configuration to make sure that/s the case? Thank you!

[2019-04-24 11:11] #94 closed

[2019-05-24 11:56] petermm opened #95 "release 1.2.1? (with fs_poll config)"
hate to ask.. but can we have 1.2.1 from master (which includes the fs_poll config https://github.com/phoenixframework/phoenix_live_reload/pull/90)

Doing a beginner tutorial - and it's quite the killer/distraction/wrong to setup a github dep from the get go..

fwiw cpu goes from 70% to 1% when the fs_polling is limited to relevant dirs..

[2019-05-24 13:19] josevalim commented on #95
Done! :D

[2019-05-24 13:19] #95 closed

[2019-07-10 11:05] ger619 commented on #75
how was this issue solved?

[2019-07-10 11:09] josevalim commented on #75
You have to update `phoenix_live_reload`.

[2019-07-10 11:59] ger619 commented on #75
Unfortunately this has not worked phoenix_live_reload any help please

[2019-07-25 12:12] oskarkook opened #97 "Live Reload initial WS connection always fails after compile"
Reproducible with the following steps:
- Create new project with default configuration: `mix phx.new phoenix_test`
- Run server with `mix phx.server`
- Make a change to `PageController` file, no live reload should be triggered
- When you manually refresh page, a compile will be triggered and initial Live Reload connection to websockets will fail:
[code]

WS connection will be established after fir

[2019-07-25 13:22] josevalim commented on #97
I cannot reproduce it but it does seem to be a race condition. What is your phoenix_live_reload version? Are you on latest? For posterity, here are my dependencies:

[code]

[2019-07-25 13:32] oskarkook commented on #97
`mix deps` result here: https://gist.github.com/oskarkook/b70ac5fbb995e2fb353f7934a5ae67de

Although now I feel like the issue is not LiveReload specific. The same error can be encountered with other Phoenix channels (e.g. LiveView). The issue is actually especially annoying with LiveView as you can end up with a blank page altogether (as opposed to just erroring out once with LiveReload).

[2019-07-25 13:45] josevalim commented on #97
Thanks. Can you please report it on Phoenix instead and copy me? I have a suggestion to fix it. :)

[2019-07-25 13:45] #97 closed

[2020-02-14 08:46] leductam opened #98 "[error] an exception was raised: ** (ArgumentError) unknown registry: nil"
I got this logs when run Win 10, please review.
`Last message: {:join, Phoenix.Channel.Server}
State: {%{}, {#PID<0.472.0>, #Reference<0.315827230.2814640129.256588>}, %Phoenix.Socket{assigns: %{}, channel: Phoenix.LiveReloader.Channel, channel_pid: nil, endpoint: DemoWeb.Endpoint, handler: Phoenix.LiveReloader.Socket, id: nil, join_ref: "108", joined: false, private: %{}, pubsub_server: nil, ref:

[2020-02-14 09:12] josevalim commented on #98
Can you please provide a sample application that reproduces the error? Thank you!

[2020-02-14 09:22] leductam commented on #98
Actually, I've just created the Demo Phoenix Application with "mix phx.new demo --no-ecto", with specified deps:
elixir 1.10.1
phoenix 1.5.0-dev
phoenix_pubsub 2.0.0-dev
phoenix_live_reload 1.2.1

And followed the guide to remove pubsub from config and add the child Phoenix.PubSub. That all and got the error message when accessed to http://localhost:4000/

[2020-02-14 09:25] josevalim commented on #98
Did you add `pubsub_server: Rumbl.PubSub` to your configuration when you remove the `:pubsub` one?

[2020-02-14 09:36] josevalim commented on #98
Also, make sure that the name in your supervision tree matches the name you declare on pubsub_server. I have improved Phoenix master to raise a better error message in case like yours, thanks!

[2020-02-14 09:36] #98 closed

[2020-02-14 09:36] leductam commented on #98
Yes, I passed the step to add pubsub_server, I did it and the error message disappeared.
It is normal now. I saw the message at browser ["3","3","phoenix:live_reload","phx_join",{}], ["3","3","phoenix:live_reload","phx_reply",{"response":{},"status":"ok"}], and also try to changed some code and reloading is fine.

Thanks Jose.

[2020-03-19 11:26] sfusato opened #99 "~r"lib/liveview_web/{live,views}/.*(ex)$" not triggering live reload"
This is the default setting in `dev.ex` for a new Phoenix project:
[code]
This won't trigger a live-reload for changes done in either `/live` or `/views` directories. I'm on Manjaro Linux. Can't test on anything else.

Changing the syntax a bit to the following works:
[code]

[2020-03-19 11:57] josevalim commented on #99
This has been fixed in Phoenix master.

[2020-03-19 11:57] #99 closed

[2020-05-12 23:07] axelson opened #101 "New release that includes PR #96"
Hi, is it possible to get a new release that includes PR #96? I have a project that requires multiple live reload declarations.

From the commit list I initially thought it was included: https://github.com/phoenixframework/phoenix_live_reload/commits/master
But in the v1.2.1 tag and on hex.pm it is not included: https://github.com/phoenixframework/phoenix_live_reload/commits/v1.2.1

[2020-05-13 08:51] josevalim commented on #101
Done!

[2020-05-13 08:51] #101 closed

[2020-05-13 20:43] axelson commented on #101
Great, thanks!

[2020-05-29 21:57] hauleth opened #104 "Allow adding custom attributes to iframe"
This would be useful for situations when there is used dynamic reload tooling like Turbolinks used as it would prevent needless updates of iframe.

[2020-05-29 22:08] josevalim commented on #104
Sure, PR is welcome! I think we already have an app env for config. But it may be able to go to the plug too.

[2020-05-29 22:10] hauleth commented on #104
#102 was the base for that. I created that issue for me, but I cannot assign myself to it.

[2020-10-04 18:53] mbramson commented on #104
Confirming this would be useful to be able to add a nonce to the iframe to satisfy a content security policy.

[2020-10-04 19:46] josevalim commented on #104
Are you sure a nonce is necessary? The iFrame is hosted in the same app and the contents of the iFrame are applied to the policy returned by the iFrame. If your CSP plugs comes after the live reload one, you should be good.

[2020-11-03 09:18] #104 closed

[2020-11-27 21:24] torepettersen opened #109 "Better hiding of iframe"
The iframe used for live_reload was shown as a 300x150 white box for me while using Tailwind css. Tailwind css seems to be displing iframes as block by default, which is overriding the hidden attribute on the iframe. See: https://css-tricks.com/the-hidden-attribute-is-visibly-weak/

Maybe consider using `style="display: none"` to hide this iframe by default, so others won't experience the same pro

[2020-11-28 05:34] josevalim commented on #109
If your css classes are overriding it, then the best is to use CSS to override it again. The issue with using style is that it doesn’t work with CSP, so it is bound to have pitfalls there too. In any case, I learned about hidden’s fragility, so this is good to know. Thank you!

[2020-11-28 09:17] torepettersen commented on #109
Is there any drawback of using both `style="display: none"` and `hidden` as default?

[2020-11-28 09:40] josevalim commented on #109
If you want to actually customize it to something else, style makes it impossible, which is why we removed it.

[2020-12-19 16:28] dbernheisel commented on #109
For those finding this and use Tailwind, this fixed it for me:

[code]

[2021-04-12 15:49] nickjj commented on #109
For Tailwind, if you're using the new JIT compiler the above solution posted by @dbernheisel no longer works out of the box.

You also need to add the config path to PurgeCSS, such as:

[code]

[2021-04-12 15:54] josevalim commented on #109
Good point. Or alternatively define a rule directly in your css and don't depend on Tailwind for this particular case!

[2021-04-12 19:39] nickjj commented on #109
It looks like another alternative solution is to put `width="0" height="0"` on the `iframe` itself. Any chance of this getting re-opened and evaluated as a fix because then it requires no app level custom CSS in every project to workaround this issue.

I've tested it on Chrome, FireFox and Edge and it works.

The idea was taken from the Elixir Forums here: https://elixirforum.com/t/does-anyone-kno

[2021-04-12 20:01] josevalim commented on #109
@nickjj can you please send a PR? It would be very welcome!

[2021-04-12 20:02] josevalim commented on #109
Actually, I will go ahead and do it and ship a new release right now, since I have some before bed time. :)

[2021-04-12 20:03] nickjj commented on #109
Are you sure? I'm ok with opening the PR. This isn't a life or death request haha.

The only concern is I haven't tested this on macOS, Safari or other devices (lack of devices).

[2021-04-12 20:50] josevalim commented on #109
v1.3.1 is out!

[2021-04-12 20:50] #109 closed

[2021-04-13 01:23] axelson commented on #109
For future reference here is the commit: https://github.com/phoenixframework/phoenix_live_reload/commit/13938e9e884d905186da8f9edc7240feea1d0abe

[2021-06-18 09:57] carlosescri opened #110 "Problems with page reload strategy in LiveView pages embedded via cross-domain iframes"
Hi all!

We are migrating our app to LiveView but the process is so slow we are embedding new features done in LiveView through cross-domain iframes.

Live reload uses an iframe too so I have an iframe inside an iframe inside a page. Both iframes share domain but the domain in the main window is different. Indeed, the iframe sends messages to the parent via `postMessage`.

When live reload tries t

[2021-06-18 10:15] josevalim commented on #110
See #92, we can change it, but it needs to be controlled via an option. Perhaps an option on live_reload that we embed on the iframe and the iframe can read it.

[2021-06-18 15:25] carlosescri commented on #110
I've created a pull request just in case it helps.

[2021-06-18 17:58] carlosescri commented on #110
Given that the pull request has been merged I think this can be closed… Thanks!

[2021-06-18 17:58] #110 closed

[2021-08-29 19:25] btkostner opened #113 "Add debounce for live reloading"
I'm currently using [vite](https://github.com/vitejs/vite) for building assets and everything is working correctly. The biggest down side is that `phoenix_live_reload` detects multiple file changes and reloads multiple times when I save a `.html.heex` file (tailwind jit).

[code]

I've looked at the backend `Filesystem` dependency and noticed that both the [Linux and Windows](https://github.com/fa

[2021-08-29 20:05] josevalim commented on #113
@btkostner I started to reply saying how we could implement this in the channel... and then I got so involved with the implementation that I decided to give it a try. In master you can now specify a `debounce: ...` in milliseconds in your config/dev.exs under the live reload key. Let me know how it goes!

[2021-08-29 20:08] josevalim commented on #61
Sorry, I should have followed up some time ago, but I cannot reproduce this. Has anyone else stumbled into this?

[2021-08-29 21:03] btkostner commented on #113
@josevalim That was fast! I can confirm `master` with a `debounce` of `150` cuts down on the live reloads significantly.

Thank you! :confetti_ball: :heart:

[2021-08-30 02:41] btkostner commented on #113
After looking into this more (and developing for 4+ hours) I think it may actually be a process leak in my Vite setup. I'm going to guess something like https://github.com/tailwindlabs/tailwindcss/pull/4997 caused a bunch of processes to stay running and caused the huge live reload trail :grimacing: Sorry I didn't notice this earlier.

[2021-08-30 06:02] josevalim commented on #113
That is likely it, yeah. I will leave the feature in anyway, thanks! :)

[2021-08-30 06:02] #113 closed

[2021-09-11 11:59] whitepaperclip commented on #60
Super old thread, but just wanted to show how this could be done with esbuild. This is `assets/build.js`:

[code]

[2021-09-12 04:30] krainboltgreene opened #115 "Live Reload isn't joining the channel"
I'm at wits end with this issue, because I have done a ton of digging. Here are the two facts that I know:

 1. When I'm looking at my HTML content there's no join message to `phoenix:live_reload`.
 2. When I'm looking at the dashboard there is.

I have confirmed that:

  1. The iframe is loading
  2. The code inside the iframe runs.
  3. Both websocket requests going to /phoenix/live/socket are e

[2021-09-12 05:16] krainboltgreene commented on #115
Okay so I've done some deeper digging. I had a hypothesis: Perhaps the `chan.join()` isn't firing? The only way to prove that it was actually firing was to utilize a socket constraint in the `phoenix.js` library that stops you from double joining. After some hacking I duplicated the `chan.join()` line and there was an error!

So somewhere in my browser a channel is being joined for the purposes of

[2021-09-12 05:18] krainboltgreene commented on #115
I found this interesting tidbit about websockets in iframes: https://stackoverflow.com/a/47900288

[2021-09-12 05:54] krainboltgreene commented on #115
Okay, so I can't tell you why this works, but I've rewritten the plug to just shove the js directly into body, instead of via an iframe, and now it works 100%:

[code]

[2021-10-01 21:10] 6aKa opened #116 "add new prefix option"
When use `path` in `url` for endpoint configuration, path `/phoenix/live_reload/frame` not exists, because this path rewrite to `#{path}/phoenix/live_reload/frame`

[2021-10-02 12:11] #116 closed

[2021-10-09 16:59] zkat opened #117 "1.6 support?"
Hi!

I'm working on upgrading my app from 1.5 to 1.6 and noticed that this project doesn't declare support for 1.6 (yet?)

Should that be fixed? Is there anything in particular stopping it from just doing a version bump?

[2021-10-09 17:00] josevalim commented on #117
Hi @zkat! 👋

This line:

https://github.com/phoenixframework/phoenix_live_reload/blob/master/mix.exs#L43

Means 1.4, 1.5, 1.6 and so on. So we should be all good (and Phoenix should be backwards compatible until 2.0).

[2021-10-09 17:04] #117 closed, assigned to nobody

[2021-11-17 12:55] steveops opened #119 "Live reload injected in wrong `body`"
Hello,
I have a web app that uses vue js. In one of the templates, I pass data to a vue js instance as below;
[code]

If the assign `@html_string` happens to contain both `<body>` and `</body>` substrings, the live reload script will be injected there and not in front of the intended `</body>` tag. Thats according to `lib/phoenix_live_reload/live_reloader.ex:125` shown below

<img width="760" alt=

[2021-11-17 13:27] #119 closed

[2021-11-17 14:53] steveops commented on #119
Thank you @josevalim!

[2021-11-23 05:59] soullpoint opened #120 "Changes to Functional Components not reloading correctly"
Hi there,

I’m seeing an issue where changes to functional components aren’t being reflected automatically until a refresh, or if I change other content on the page that is using the component.

For instance, I have a simple container:

[code]

This renders as expected on a page like so:

[code]
When I modify the functional component, e.g. to add a class to add the styling for the card, the page s

[2021-11-23 06:01] soullpoint commented on #120
This is on Phoenix 1.6, LiveView 0.17, Elixir 1.12

[2021-11-25 04:55] soullpoint commented on #120
https://elixirforum.com/t/phoenix-functional-components-and-hot-reloading/44043/2

My apologies, misunderstanding of how things work. Didn't realise the list was explicitly defined, assumed it was watching all .*ex files everywhere.

[2021-11-25 04:55] #120 closed

[2021-12-23 16:32] inoas commented on #45
This was very helpful when I could not compile old 1.10 apps
I think there was some conflict around rebar between asdf and mac brew based rebar install.
I got clashes like such:

[code]
[code]

[2021-12-23 16:33] inoas commented on #45
Thank you so much!

[2021-12-23 17:58] tsloughter commented on #45
@inoas `p1_utils` should remove `rebar3_hex` from the `plugins` list of their `rebar.config` or `rebar.config.script` in their case. I'd suggest opening an issue or sending a PR to either remove it entirely or move it to `project_plugins` so it isn't fetched when `p1_utils` is used as a dependency.

[2021-12-23 18:06] tsloughter commented on #45
Also looks like an old rebar3 since it is building to `deps/p1_utils/_build` and that shouldn't happen anymore, but getting rid of `rebar3_hex` in `p1_utils` is good to do.

[2021-12-29 00:35] nickjj commented on #60
It would be very useful if this was included by default. I'm also using esbuild with a [much more simplified copy file approach](https://github.com/nickjj/docker-phoenix-example/blob/main/assets/esbuild.config.js#L25-L45). Changing 1 line of JS results in every static file being live reloaded when their contents didn't change.

You end up with this type of log output:

[code]

As a workaround whit

[2021-12-29 00:38] whitepaperclip commented on #60
`fs.pathExistsSync` still works, but note the `const fs = require("fs-extra");` at the top.

[2021-12-29 00:40] nickjj commented on #60
Ah good catch. `fs.existsSync` works with Node's standard library. `fs-extra` looks to be a 3rd party package.

[2022-01-04 14:37] Blond11516 opened #122 "Add option to do full page reloads when CSS changes"
I'm trying to use CSS modules with phoenix and am running into an issue where changes to my modules aren't picked up by phoenix_live_reload.

With CSS modules, the class names are automatically generated with, among other things, a hash of the contents of the class. This means class names have to be fetched at runtime (I'm working with custom code based on https://github.com/DefactoSoftware/ex_css

[2022-01-04 16:33] josevalim commented on #122
Given the strategies are either CSS specific or full page reload, I think an option like `reload_page_on_css_changes: true` would be enough. WDYT?

[2022-01-04 18:26] Blond11516 commented on #122
Yeah that's what I figured too, just wanted to make sure exposing the strategies wouldn't be better for some reason I can't think of.

If that's all right I can start working of this today. Not to jinx myself but I don't think it should take too much time!

[2022-01-04 18:58] josevalim commented on #122
Sure, a PR is welcome!

[2022-01-05 08:25] #122 closed

[2022-04-06 16:47] VictorGaiva opened #124 "Unable to specify custom prefix for `live_reload/frame` url"
When using a non default HTML Base URL, it is not possible to load `phoenix/live_reload/frame` since the path fragment [here](https://github.com/phoenixframework/phoenix_live_reload/blob/564ab19d54f2476a6c43d43beeb3ed2807f453c0/lib/phoenix_live_reload/live_reloader.ex#L96) cannot be customized.

[2022-04-06 16:49] chrismccord commented on #124
Can you share more about what you are doing and the kind of path_info the server is seeing? Thanks!

[2022-04-06 17:31] VictorGaiva commented on #124
Diggin deeper I found [this](https://github.com/phoenixframework/phoenix_live_reload/blob/564ab19d54f2476a6c43d43beeb3ed2807f453c0/test/live_reloader_test.exs#L66) test which validates that the `phoenix/live_reload/frame` URL is prefixed with the endpoint's `path`, that happens correctly in my setup, but it doesn't check if it possible to correctly load the resource.

[2022-08-17 08:10] carlotm opened #127 "Watch for changes outside the project folder"
Not sure if this is a bug or not,
is it possible to watch for changes outside the project folder?

I tried configuring `:phoenix_live_reload` like this

[code]

but it does not reload.

Thank you

[2022-08-17 08:37] josevalim commented on #127
Yes, we set up the watcher inside the project root exclusively, so this won't work. A PR for the docs would be welcome!

[2022-08-17 14:19] #127 closed

[2022-09-15 15:11] tomtaylor opened #129 "Browser freezing for two minutes on LiveReload"
Our team is experiencing an intermittent bug when LiveReload refreshes. The browser sometime hangs for two minutes exactly when the page refreshes after a template or CSS change. Observer shows a spike in CPU usage at the beginning of the refresh, and then the browser hangs in `waiting`. After 2 minutes, the page load completes.

Killing the server and starting again seems to fix this temporarily,

[2022-10-02 21:47] sharpfun commented on #129
@tomtaylor Had same issue!
Try to set `interval` to 1 second in your dev.exs. Default 100ms is not enough.

[code]

[2022-10-07 13:49] tomtaylor commented on #129
Thanks! I couldn't quite follow why that would be the case. It looks like the default is for the client to wait 100ms after receiving a message from the server that the compile assets have updated. Do you know why extending this to 1s helps?

[2022-10-07 16:10] sharpfun commented on #129
Glad that it works! :smile:
I suppose that template or css isn't compiled fast enough for reload request, and server was not responding.
If you set interval higher to 1 second, then client tries to reload page only after 1 second (instead of 100ms).

[2022-10-28 23:18] alichtl opened #130 "Release v1.3.4"
@josevalim Do you know the expected timeline for the v1.3.4 release? It looks like v1.3.3 was released in July 2021, and it would be great to get the accumulated master branch fixes since then (if possible).

[2022-11-20 10:20] kuon opened #132 "Debounce live reload events"
With inotify, when using a network mount, events are duplicated, and I get a lot of `Live reload:...` everytime I save.

I worked around this issue using `fs_poll` instead of inotify.

Now I just opened https://github.com/aj-foster/phx_copy/issues/2 which is related, and it made me realize it would be cool to also debounce events in live reload itself when using inotify.

Basically, when an event

[2022-11-20 11:22] josevalim commented on #132
There is already such a feature: https://github.com/phoenixframework/phoenix_live_reload/blob/6771687f4652d197f4ace1b63ba6a9560d60932b/lib/phoenix_live_reload/live_reloader.ex#L36

[2022-11-20 11:22] #132 closed

[2022-11-20 11:43] kuon commented on #132
My bad, sorry for not finding it. Cheers.

[2022-11-21 08:38] kuon commented on #132
I just realized that there is no release with that feature. Do you think you could release `1.3.4` to avoid having to use master? I see that https://github.com/phoenixframework/phoenix_live_reload/issues/130 has been opened.

[2022-11-21 08:46] josevalim commented on #132
There was a release last month: https://hex.pm/packages/phoenix_live_reload

[2022-11-21 08:46] #130 closed

[2022-11-21 08:47] josevalim commented on #61
Closing for now. If anyone runs into this, please let us know how to reproduce it.

[2022-11-21 08:47] #61 closed

[2022-11-21 08:52] kuon commented on #132
Ho yes, I didn't see a tag on the repo that's why. I should have read the last commit message.

[2022-11-21 08:57] josevalim commented on #132
Tag pushed.